body {
    background-color: #e6e6ff; /* light purple */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #9933ff; /* darker purple */
    color: white;
    padding: 10px;
    text-align: center;
}

#dashboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.metric-card {
    background-color: #ffffff; /* white */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orders-section,
.reservations-section {
    grid-column: span 2;
}

.action-button {
    background-color: #e6e6ff; /* light purple */
    color: black;
    border: 1px solid #e6e6ff; /* light purple */
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.action-button:hover {
    background-color: #000; /* black */
    color: #e6e6ff; /* light purple */
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

/* Navbar styles here */
body {
    height: 100%;
    font-family: arial; 
  }
  
  body {
    background-color: #555555;
  }
  
  .sidebar {
    float: left; 
    width: 210px; 
    height: auto; 
    background-color: #555555;
    font-size: 18px; 
  }
  
  .sidebar .section {
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #666666; 
  }
  
  .sidebar .section img {
    width: 100px; 
    border-radius: 50%; 
    position: relative; 
    left: 25%;
    padding-bottom: 10px;
  }
  
  .sidebar h2 {
    color: #888; 
    font-family: Arial; 
    font-size: 1em; 
    font-weight: normal; 
    margin: 0px; 
    padding: 0px 0px 10px 30px;
  }
  
  h2#user {
    padding: 0;
    position: relative;
    left: 20% ;
    color: #bbb;
  }
  
  .sidebar button {
    position: relative;
    width: 100%; 
    background-color: #555;
    text-align: left;
    padding-left: 30px;
    color: #aaa;
    font-style: normal; 
    font-size: 1em;
    font-family: arial;
    line-height: 1.5;  
    border: none;
  }
  .sidebar button p {
    display: inline;
    position: absolute; 
    left: 59px;
  } 
  
  .sidebar button:hover p {
    display: inline;
    position: absolute; 
    left: 56px;
  } 
  
  .sidebar button:hover {
    background-color: #444; 
    color: #ccc;
    border-left: green solid 3px;
    padding-left: 27px;
  }
  
  .navbar { 
    float: left;
    width: 900px;
    height: 60px; 
    background-color: #666; 
    display: flex; 
    border-bottom: grey solid .5px;
  }
  
  .navbar .nav-icon {
    background-color: lightgrey;
    flex: 1;
    font-size: 20px;
    vertical-align: middle;
    position: relative;
    color: grey;
  }
  
  .navbar .nav-icon:hover { 
    background-color: white; 
    color: darkgrey; 
  }
  
  .navbar .nav-icon p {
    position: absolute; 
    top: 35%;
    left: 35%;
  }
  
  .navbar div#search-bar {
    background-color: lightgrey; 
    flex: 12; 
    font-family: Arial; 
    color: #888;
    font-size: 1.2em;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    
  }
  
  
  .navbar div#search-bar input {
    float: left;
    width: 100%;
    height: 100%;
    float: left;
    margin: 0px 0px 0px 0px; 
    padding-left: 40px;
    border: none; 
    font-size: 1.1em;
    background-color: lightgrey;
  
  }
  
  div#search-bar .icon {
    position: absolute;
    top: 35%;
    margin-left: 17px;
    z-index: 1;
    color: #4f5b66; 
  }
  
  .user-info-bar {
    position: relative;
    background-color: lightgrey;
    height: 75px;
    width: 880px;
    float: left;
    padding: 20px 0px 30px 20px;
  }
  
  .user-info-bar h1 {
    margin-top: 20px;
    padding: 0px 0px 5px 0px;
    font-size: 1.4em;
  }
  
  .user-info-bar div {
    position: absolute;
    top: 50px; 
    right: 15px; 
  }
  
  .user-info-bar div#buttons button { 
    background-color: lightgrey;
    border: #fff solid 2px;
    width: 40px; 
    height: 40px;
    border-radius: 50%;
  }
  
  .user-info-bar div#buttons button#open{ 
    background-color: #ddd;
    width: 80px; 
    padding: 10px;
    border: #fff solid 2px;
    border-radius: 20px;
  }
  
  .user-info-bar a {
    float: left;
    font-size: .9em;
    text-decoration: none;
    color: grey;
  }
  .user-info-bar p {
    float: left; 
    font-size: .9em;
    padding-right: 10px; 
  }
  
  
  .dashboard-navbar {
    float: left;
    width: 900px;
    height: 40px; 
    background-color: lightgrey; 
    display: flex;
  }
  
  .dash-nav {
    font-family: Arial; 
    font-size: 1.1em;
    Margin: 0px 20px 0px 20px;
    padding: 1;
    float: left; 
    text-align: center; 
    border: none; 
    background-color: lightgrey; 
    border-bottom: lightgrey solid 4px;
  }
  
  .dash-nav:hover {
    border-bottom: navy solid 4px;  
  }
  
  .data-viz {
    float: left;
    width: 900px;
    height: 200px; 
    background-color: skyblue; 
    display: flex;
    border-bottom: white solid 2px;
  }
  
  .data-viz .data-1 {
    flex:  475px;
    background-color: skyblue; 
    position: relative;
  }
  
  .data-viz .data-2 {
    flex: 425px;
    background-color: skyblue;
    position: relative;
  }
  
  .data-1  button, 
  .data-2 button {
    position: absolute; 
    left: 175px;
    width: 110px;
    bottom: 20px;
    background: white;
    border: lightgrey solid 2px;
    border-radius: 20px;
  }
  
  .dashboard {
    float: left; 
    width: 900px; 
    height: 700px; 
    background-color: skyblue;
    display: flex; 
  }
  
  .job-table {
    flex: 3;
  }
  .job-table { 
    padding: 25px;
  }
  table {
    padding: 15px;
  }
  .job-table th {
    background-color: grey; 
    text-align: left; 
    padding: 13px 0px 13px 0px;
    color: lightgrey;
    font-size: .8em;
  }
  
  .job-table th button {
    background-color: darkgrey; 
    border: none; 
    font-size: .8em;
    margin: 0px;
    color: grey;
    padding: 4px 
  }
  
  .job-table button p {
    padding-left: 5px;
    display: inline;
    font-size: 1.4em;
    font-family: arial;
  }
  
  .job-table button i {
    font-size: .9em;
  }
  
  .job-table td {
    padding: 20px 0px 20px 0px;
    background: white; 
    border-bottom: 1px solid lightgrey; 
    color: grey;
    font-size: .8em;
    text-align: left;
  }
  
  .job-table td:nth-child(2), 
  .job-table th:nth-child(2) {
    width: 140px;
  }
  .job-table td:nth-child(1), .job-table td:nth-child(4) {
    border: none; 
    padding: 15px;
  }
  
  .job-table tr:nth-last-child(1) td{
    border: none;
  }
  
  .job-table tr img {
    border-radius: 50%; 
    width: 40px;
    
  }
  
  .job-table img#hr-lead {
    vertical-align: text-top;
  }
  
  .widget-col {
    flex: 1; 
    margin: 15px;
  }
  
  .widget-col .comm-widget {
    margin-top: 20px;
    padding-bottom: 20px;
    color: lightgrey; 
    border-bottom: #aaa solid 2px;
  }
  
  .widget-col button {  
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .comm-widget h4 {
    color: lightgrey;
    font-size: .9em;
    margin-bottom: 10px;
  }
  
  .comm-widget p {
    font-size: .8em;
    margin: 5px 0px 10px 0px;
  }
  
  .comm-widget div {
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
  }
  .comm-widget input {
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 
    width: 100%;
    height: 25px;
    background: #eee;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .comm-widget div button {
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 
    border: none;
    height: 25px;
    width: 50px;
    background-color: green;
    color: #ccc;
    margin-left: -50px;
    font-size: .7em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  
  