{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Domnoo Restaurant & Pizza HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/main/images/fav2.ico" type="image/x-icon">
    <link rel="icon" href="/static/main/images/fav2.ico" type="image/x-icon">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="/static/main/css/bootstrap.min.css">
    <!-- main stylesheet -->
    <link rel="stylesheet" href="/static/main/css/style.css">
    <!-- color stylesheet -->
    <link rel="stylesheet" href="/static/main/css/colors.css" id="ui-theme-color">
    <!-- responsive css -->
    <link rel="stylesheet" href="/static/main/css/responsive.css">
</head>
<body>
	<div class="loader_wrapper">
        <div class="loader">
			<img src="/static/main/images/loader.gif" alt="" class="img-fluid">
        </div>
    </div>
    <!--// loader_wrapper -->

	<div id="wrapper">
		<header class="new-block main-header">
			<div class="main-nav new-block">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="logo">
								<a href="{% url 'main:home' %}">
									<img src="/static/main/images/logo/mehia_icon.png" alt="logo" class="img-responsive">
								</a>
							</div>
							<div class="location-block">
								<p>Ghana</p>
								<span>+233 123 456 789</span>
							</div>
							<a href="#" class="nav-opener"><i class="fa fa-bars"></i></a>
							<nav class="nav">
								<ul class="list-unstyled">
									<li class="drop active"><a href="{% url 'main:home' %}">Home</a></li>
									<li class=""><a href="{% url 'main:menu' %}">Menu</a></li>
									<li class="drop"><a href="#">Meals</a>
										<ul class="drop-down">
											<li><a href="menu.html">Menu</a></li>
											<li><a href="menu2.html">Menu2</a></li>
											<li><a href="about_us.html">About</a></li>
											<li><a href="blog.html">Blog</a></li>
											<li><a href="blog_left.html">Blog left</a></li>
											<li><a href="blog_right.html">Blog right</a></li>
											<li><a href="blog_single.html">Single blog</a></li>
											<li><a href="contact.html">Contact us</a></li>
											<li><a href="product_single.html">Product single</a></li>
											<li><a href="shopping_cart.html">Cart page</a></li>
										</ul>
									</li>
									<li><a href="#">Pizza</a></li>
									<li><a href="#">Location</a></li>
									<li><a href="{% url 'main:contact' %}">Contact Us</a></li>
									<li><a href="#">Login/Signup</a></li>
								</ul>
							</nav>
							<div class="nav-right-block">
								<ul class="list-unstyled">
									<li><a href="#"><i class="flaticon-scooter-front-view"></i><span class="nav-price">$00.00</span></a></li>
								</ul>
							</div><!-- nav-login -->
						</div>
					</div>
				</div>
			</div>
		</header> <!-- header -->		

		<div>
			{% block content %}

			{% endblock %}
		</div>

		<footer class="main-footer new-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="footer-head">
							<h3>About Us :</h3>
						</div>
						<div class="footer-content">
							<p>Wohia den? Mehia Online Deal brand is a registered online Marketing and Advertising Store which is exclusively for E-Commence purposes.</p>
							<a href="{% url 'main:about' %}" class="link">Read More</a>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
						<div class="our-company">
							<div class="footer-head">
								<h3>Our Company :</h3>
							</div>
							<div class="footer-content">
								<ul class="list-unstyled">
									<li><a href="#">New In</a></li>
									<li><a href="#">Pizza murgon</a></li>
									<li><a href="#">Burger king</a></li>
									<li><a href="#">Fried Chicken</a></li>
									<li><a href="#">Mocktail</a></li>
									<li><a href="#">Top Brands</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
						<div class="footer-head">
							<h3>Customer Care :</h3>
						</div>
						<div class="footer-content">
							<ul class="list-unstyled">
								<li><a href="#">New In</a></li>
								<li><a href="#">Pizza murgon</a></li>
								<li><a href="#">Burger king</a></li>
								<li><a href="#">Fried Chicken</a></li>
								<li><a href="#">Mocktail</a></li>
								<li><a href="#">Top Brands</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="flickr">
							<div class="footer-head">
								<h3>Get Flickr :</h3>
							</div>
							<div class="footer-content">
								<ul class="list-unstyled">
									<li><a href="#"><img src="/static/main/images/Layer-12.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="/static/main/images/Layer-13.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="/static/main/images/Layer-14.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="/static/main/images/Layer-15.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="/static/main/images/Layer-16.png" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="/static/main/images/Layer-17.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="/static/main/images/Layer-18.jpg" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="/static/main/images/Layer-19.jpg" alt="" class="img-responsive"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="copy-right">
			<div class="container">
				<p><a target="_blank" href="https://www.templateshub.net">Mehia Online</a></p>
				<ul class="social-nav">
					<li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
					<li><a href="#"><i class="flaticon-twitter"></i></a></li>
					<li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
					<li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
					<li><a href="#"><i class="flaticon-behance"></i></a></li>
				</ul>
			</div>
		</div>
		<span id="go_to_top" class="go-to-top"><i class="flaticon-up-arrow"></i></span>

	</div><!-- #wrapper -->


	<!-- include jQuery -->
    <script src="/static/main/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="/static/main/js/bootstrap.min.html"></script>
    <!-- bootstrap -->
    <script src="/static/main/js/owl.carousel.min.js"></script>
    <!-- slick slider  -->
	<script src="/static/main/js/slick.js"></script>
	<!-- dscountdown  -->
	<script src="/static/main/js/dscountdown.min.js"></script>
    <!-- jquery.nice-select -->
    <script src="/static/main/js/jquery.nice-select.js"></script>
    <!-- magnific-popup -->
    <script src="/static/main/js/jquery.magnific-popup.min.js"></script>
    <!-- Mixitup -->
    <script src="/static/main/js/mixitup.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP1lPhUhDU6MINpruPDinAzXffRlpzzFo"></script>
	<script src="/static/main/js/map.js"></script>
    <!-- custom js -->
    <script src="/static/main/js/custom.js"></script>

</body>


</html>