{% extends 'main/base.html' %}
{% block content %}

	<div class="center-wrapper cn-us new-block">
		<div class="overlay"></div>
		<div class="send-msg new-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<div class="block-stl11">
							<i class="flaticon-placeholder"></i>
							<p>PO Box 16122 Collins Street West Victoria 8007 Ghana</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="block-stl11">
							<i class="flaticon-phone-call"></i>
							<p>+01 123 456 789 <br>+01 987 654 321</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="block-stl11">
							<i class="flaticon-message"></i>
							<p>mehiaonline@gmail.com <br>mehiaonline@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-block1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title">
							<h2>Send us a messages</h2>
							<p class="bottom-p">Sed scelerisque, ipsum in rutrum gravida, odio eros maximus erat, varius pretium tellus 
								<br> eros et quam. Vivamus interdum ligula vitae dui pulvinar congue. Aliquam faucibus
							</p>	
						</div>
					</div>
					<div class="clearfix"></div>
					<form action="#">
						<div class="col-lg-6 col-md-6">
							<div class="form-group">
								<input type="text" placeholder="Name" class="form-control">
							</div>	
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="form-group">
								<input type="text" placeholder="Last Name" class="form-control">
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="form-group">
								<input type="text" placeholder="Contact Number" class="form-control">
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="form-group">
								<input type="text" placeholder="Email id" class="form-control">
							</div>
						</div>
						<div class="col-lg-12 col-md-12">
							<div class="form-group">
								<textarea class="form-control" placeholder="Write your messages.."></textarea>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 text-center">
							<input type="button" class="btn btn3" value="Send message">
						</div>
					</form>
				</div>
			</div>
		</div>	
	</div>

{% endblock %}