body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.account-form button {
    width: 20%;
    padding: 10px;
    background-color: gold;
    color: #fff;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    align-items: center;
    font-size: medium;
}

.account-form button:hover {
    background-color: #45a049;
}

.account-container {
    background-color: #fff;
    padding: 20px;
    border: 2px solid gold;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.account-form {
    display: flex;
    flex-direction: column;
}
